<article class="relative w-full mx-auto grid items-center min-h-96">
    <video src="/assets/videos/sun1.mp4" autoplay loop muted
        class="object-cover absolute top-0 left-0 w-full h-full "></video>
    <div
        class="absolute top-0 left-0 w-full h-full bg-gradient-to-r from-[rgba(0,0,0,0.5)] from-30% to-[rgba(0,0,0,0)] to-100%">
    </div>
    <section class="text-center max-w-2xl py-8 rounded-lg m-8 text-white z-20">
        <h1 class="text-4xl py-4 font-bold">Welcome to The Sun App</h1>
        <p class="text-2xl text-wrap mb-4">This is a sample text to show how the app works.</p>
        <a [routerLink]="['/main']"
            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
            I want to know more
        </a>
    </section>
</article>