<article class="relative container min-h-[800px] mx-auto text-white p-8">
  <div id="Search" class="absolute top-[-140px] left-0"></div>
  <section class="container grid grid-cols-1 md:grid-cols-2 gap-6 rounded-2xl">
    <!-- Contenedor del texto y la fecha -->
    <div class="max-w-md">
      <h3 class="text-4xl font-bold mb-4">Historical sun images</h3>
      <label for="datepicker" class="block text-lg font-medium text-gray-300 mb-2">
        Select date:
      </label>
      <input id="datepicker" type="date"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-lg rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-3 "
        min="2012-01-01" max="{{currentDate}}" placeholder="Select date" (change)="dateChange($event)">
    </div>

    <!-- Contenedor de la imagen -->
    <div class="flex justify-center items-center">
      <img class="mx-auto rounded-xl shadow-lg" src="https://photojournal.jpl.nasa.gov/jpegMod/PIA25628_modest.jpg"
        alt="Historical sun image">
    </div>
  </section>
</article>
