<article class="relative w-full mx-auto grid items-center min-h-[700px]">
  <div class="absolute top-[-70px] left-0" id="Welcome"></div>
  <video src="/assets/videos/sun1.mp4" autoplay loop muted
    class="object-cover absolute top-0 right-0 w-full h-full max-w-screen-lg mx-auto"></video>
  <div class="absolute -inset-0 w-full h-full bg-gradient-to-r from-[rgba(0,0,0,1)] from-20% to-[rgba(0,0,0,0)] to-80%">
  </div>
  <section class="flex flex-col gap-4 items-center text-center max-w-xl rounded-lg p-4 z-20 text-white mx-32 -mt-32">
    <h1 class="text-2xl md:text-5xl text-gray-400 font-bold uppercase">Welcome to <span
        class="text-white inline-block text-3xl md:text-7xl"> The Sun App</span></h1>
    <div class="w-full flex flex-col gap-1 justify-center-center">
      <p class="text-gray-300 font-light text-md md:text-xl text-balance">In May 2024, powerful solar storms lit up the
        skies with
        stunning
        auroras
        and caused disruptions to satellites, GPS, and radio signals.</p>
      <p class="text-gray-300 font-light text-md md:text-xl text-balance "> Curious about how these space events
        impacted life
        on Earth?</p>
    </div>
    <a [routerLink]="['/main']"
      class=" text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
      I want to know more
    </a>
  </section>
</article>
