<article class="relative w-full mx-auto grid items-center min-h-[700px]">
  <video src="/assets/videos/sun1.mp4" autoplay loop muted
    class="object-cover absolute top-0 left-0 w-full h-full"></video>
  <div
    class="absolute top-0 left-0 w-full h-full bg-gradient-to-r from-[rgba(0,0,0,0.5)] from-30% to-[rgba(0,0,0,0)] to-100%">
  </div>
  <section class="flex flex-col gap-4 items-center text-center max-w-lg rounded-lg p-4 z-20 text-white mx-8 -mt-32">
    <h1 class="text-3xl md:text-5xl font-bold uppercase">Welcome to The Sun App</h1>
    <p class="text-md md:text-xl text-wrap">What happens on May '24, will be revealed in this app</p>
    <a [routerLink]="['/main']"
      class="w-fit text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
      I want to know more
    </a>
  </section>
</article>