<article class="w-full min-h-screen text-white flex flex-col justify-center p-6 md:p-12">
  <section class="container max-w-4xl mx-auto p-24 flex flex-col justify-center gap-8 rounded-2xl">
    <h1 class="text-white text-5xl w-full">Nodular</h1>
    <div class="w-full flex flex-col gap-4">
      <p class="text-white text-xl w-full">We are a group of web development students, and we present to you THE SUN
        APP: an informative platform that provides easy-to-understand, visual, and reliable information about
        geomagnetic solar storms and solar weather articles.</p>
      <p class="text-white text-xl w-full">Through AI analysis of the verified article links we provide, we offer the
        user the possibility to understand space-related articles with simple terms, along with a related image.</p>
    </div>
  </section>
</article>
