/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'PerfectFutures';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/PerfectFutures-4BrZ4.ttf) format('trueType');
}

@font-face {
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/Kanit-Regular.ttf) format('trueType');
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Kanit;
}