<article class="w-full min-h-screen bg-gradient-to-b from-black from-60% to-[#f2cd4c] to-100% p-8">

  <article class="max-w-2xl mx-auto my-6">

    <div class="sm:hidden mx-8">
      <label for="tabs" class="sr-only">Select your age</label>
      <select id="tabs" [formControl]="selector"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
        <option>3/7 years</option>
        <option>8/16 years</option>
        <option>+16 years</option>
        <option>Scientists</option>
      </select>
    </div>
    <ul class="hidden text-sm font-medium text-center text-gray-500 rounded-lg shadow sm:flex">
      <li class="w-full focus-within:z-10">
        <button (click)="onSelectTarget(1)" #button1
          class="inline-block w-full p-4 text-gray-900 bg-gray-100 border-r border-gray-200 hover:text-gray-700 rounded-s-lg focus:ring-4 focus:ring-blue-300 active focus:outline-none"
          aria-current="page">3/7 years</button>
      </li>
      <li class="w-full focus-within:z-10">
        <button (click)="onSelectTarget(2)" #button2
          class="inline-block w-full p-4 bg-white border-r border-gray-200 hover:text-gray-700 hover:bg-gray-50 focus:ring-4 focus:ring-blue-300 focus:outline-none">
          8/16 years</button>
      </li>
      <li class="w-full focus-within:z-10">
        <button (click)="onSelectTarget(3)" #button3
          class="inline-block w-full p-4 bg-white border-r border-gray-200 hover:text-gray-700 hover:bg-gray-50 focus:ring-4 focus:ring-blue-300 focus:outline-none">
          +16 years</button>
      </li>
      <li class="w-full focus-within:z-10">
        <button (click)="onSelectTarget(4)" #button4
          class="inline-block w-full p-4 bg-white border-s-0 border-gray-200 rounded-e-lg hover:text-gray-700 hover:bg-gray-50 focus:ring-4 focus:outline-none focus:ring-blue-300">Scientists</button>
      </li>
    </ul>
  </article>


  <article class="grid grid-cols-1 md:grid-cols-2 gap-4 p-4 text-white">
    <section class="w-full min-h-56 flex flex-col justify-center gap-8 p-4">
      <h1 class="text-4xl font-bold">{{main?.title}}</h1>
      <!-- <h5 class="text-2xl text-gray-300">{{main?.description}}</h5> -->

      <p class="text-xl description">
        {{muckData[muckDataIndex].s1}}
      </p>


    </section>
    <section class="flex flex-col gap-6 w-full min-h-56 p-4">
      <div
        class="w-full border rounded-lg p-4 hover:cursor-pointer hover:bg-gray-800  transition-all duration-200 ease-in-out">
        <p>Go to the article: </p>
        <a href="{{main?.url}}" target="_blank" class="border-b">
          {{main?.url}}
        </a>
      </div>

      <img class="w-full aspect-auto object-cover rounded-lg" src="{{main?.urlToImage}}" alt="{{main?.title}}">
    </section>
  </article>



</article>
